.disaster-carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
}



.flip-card {
  width: 200px;
  height: 260px;
  perspective: 1000px;
  flex: 0 0 auto;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.flip-card-front p {
  color: #fff;
  font-weight: bold;
  margin-top: .5rem;
}

.flip-card-back {
  background: #8b030383;
  color: white;
  transform: rotateY(180deg);
  padding: 1rem;
  text-align: center;
}

